# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend
.venv/
*/__pycache__/
backend/VPL-Compute/__pycache__/
backend/VPL-Compute/fuzzer.py
backend/VPL-Compute/graph.py
backend/query_tester.ipynb
backend/venv
# backend/data/programs/
# backend/data/disable-programs/*.json
# backend/data/new-programs/*.json
# backend/data/remove-programs/*.json


# database
backend/data/CloudExpenses.db
backend/data/CloudExpenses.db-journal
backend/data/CloudExpensesSmall.db
backend/data/CloudExpensesSmall.db-journal
backend/config.json
*.env
